In [1]:
import requests
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\\turismo_receptor_provincia_pais.csv"
turism = pd.read_csv(path, sep=";")
turism

,AÑO,MES,PROVINCIA_DESTINO,CONTINENTE_ORIGEN,PAIS_ORIGEN,TURISTAS,PERNOCTACIONES,ESTANCIA_MEDIA
0,2023,1,A Coru�a,Am�rica,Argentina,"295,0","3098,0","10,5"
1,2023,1,A Coru�a,Am�rica,Brasil,"498,0","4084,0","8,2"
2,2023,1,A Coru�a,Am�rica,Canad�,"1385,0","15512,0","11,2"
3,2023,1,A Coru�a,Am�rica,Chile,"58,0","505,0","8,7"
4,2023,1,A Coru�a,Am�rica,Colombia,"370,0","4662,0","12,6"
...,...,...,...,...,...,...,...,...
82563,2024,12,�vila,Total,Total Centroam�rica y Caribe,"32,0","384,0","12,0"
82564,2024,12,�vila,Total,Total Europa,"5211,0","53032,0","10,2"
82565,2024,12,�vila,Total,Total Sudam�rica,"372,0","2974,0","8,0"
82566,2024,12,�vila,Total,Total �frica,"183,0","1555,0","8,5"
82567,2024,12,�vila,�frica,Marruecos,"145,0","1189,0","8,2"

In [3]:
df= pd.DataFrame(turism)

In [4]:
df["TURISTAS"] = df["TURISTAS"].str.replace(",",".")
df["TURISTAS"] = pd.to_numeric(df["TURISTAS"])

# Verificar el tipo de la columna después de la conversión
print(df["TURISTAS"].dtype)  

print(df)

float64
        AÑO  MES PROVINCIA_DESTINO CONTINENTE_ORIGEN  \
0      2023    1          A Coru�a           Am�rica
1      2023    1          A Coru�a           Am�rica
2      2023    1          A Coru�a           Am�rica
3      2023    1          A Coru�a           Am�rica
4      2023    1          A Coru�a           Am�rica
...     ...  ...               ...               ...
82563  2024   12             �vila             Total
82564  2024   12             �vila             Total
82565  2024   12             �vila             Total
82566  2024   12             �vila             Total
82567  2024   12             �vila            �frica

                        PAIS_ORIGEN  TURISTAS PERNOCTACIONES ESTANCIA_MEDIA
0                         Argentina     295.0         3098,0           10,5
1                            Brasil     498.0         4084,0            8,2
2                            Canad�    1385.0        15512,0           11,2
3                             Chile      58.0          505,0            8,7
4                          Colombia     370.0         4662,0           12,6
...                             ...       ...            ...            ...
82563  Total Centroam�rica y Caribe      32.0          384,0           12,0
82564                  Total Europa    5211.0        53032,0           10,2
82565              Total Sudam�rica     372.0         2974,0            8,0
82566                  Total �frica     183.0         1555,0            8,5
82567                     Marruecos     145.0         1189,0            8,2

[82568 rows x 8 columns]

In [5]:
df_filtrado= df[~df.apply(lambda row: row.astype(str).str.contains("Total", case=False).any(), axis=1)]

df_filtrado.to_csv("archivo_limpio.csv", index=False)